<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <a href="http://70.32.24.16/">Alex Munger</a>.
        {% endblock %}
    </div>
</body>

</html>