<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="uk-container">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.js') }}"></script>
</body>

</html>