// Color bins for Dash DataTable color scale conditional formatting (RGB)
$Bin-0r: rgb(241, 83, 80);
$Bin-1r: rgb(242, 129, 95);
$Bin-2r: rgb(253, 176, 98);
$Bin-3r: rgb(254, 224, 139);
$Bin-4r: rgb(255, 255, 191);
$Bin-5r: rgb(217, 239, 139);
$Bin-6r: rgb(164, 216, 105);
$Bin-7r: rgb(108, 211, 105);
$Bin-8r: rgb(80, 226, 143);
// Color bins for Dash DataTable color scale conditional formatting (HSL)
$Bin-0h: hsl(1, 85, 63);
$Bin-1h: hsl(14, 85, 66);
$Bin-2h: hsl(30, 98, 69);
$Bin-3h: hsl(44, 98, 77);
$Bin-4h: hsl(60, 100, 87);
$Bin-5h: hsl(73, 76, 74);
$Bin-6h: hsl(88, 59, 63);
$Bin-7h: hsl(118, 55, 62);
$Bin-8h: hsl(146, 72, 60);
// Other random definitions
$Gy-E: #e9e9f0;
$Gy-D: #d9d9e0;
$Gy-0: #ceced0;
$Gy-C: #c0c0c6;
$Gy-1: #aeb0cc;
$Gy-9: #9da5ab;
$Gy-6: #666474;
$Gy-4: #454a4f;
$Gn-1: #29ee92;
$Rr-1: #ff4143;
$Rr-2: #c33c33;
$Rg-P: #1eb980;
$Rg-S: #045d56;
$Ro-A: #ff6859;
$Ry-B: #ffcf44;
$Rp-C: #b15dff;
$Rb-D: #72deff;
$Bs-A: #356859;
$Bs-B: #37966f;
$Bs-O: #fd5523;
$Bs-N: #fffbe6;
$Yd-M: #344955;
$Yd-X: #232f34;
$Yd-L: #4a6572;
$Yy-P: #f0bb76;
$Yo-Y: #f9aa33;
$Yo-O: #da7d02;
$Pk-1: #e138e8;
$Mg-1: #d9008f;
$Vi-1: #a300d9;
$Ig-1: #6f24d6;
$Sb-1: #0085d0;
$Tq-1: #00d9cc;
$Lg-1: #00d90a;
$Yg-1: #85d900;
$Ct-1: #ffcc00;
$Bx-1: #d98500;
$Ut-1: #dc5b23;
$Ws-1: #ff0000;