// Rally Theme https://material.io/design/material-studies/rally.html#color
$Rg-P: #1eb980;
$Rg-S: #045d56;
$Ro-A: #ff6859;
$Ry-B: #ffcf44;
$Rp-C: #b15dff;
$Rb-D: #72deff;

// Basil Theme https://material.io/design/material-studies/basil.html#color
$Bs-A: #356859;
$Bs-B: #37966f;
$Bs-O: #fd5523;
$Bs-N: #fffbe6;

// Reply Theme https://material.io/design/material-studies/reply.html#color
$Yd-M: #344955;
$Yd-X: #232f34;
$Yd-L: #4a6572;
$Yo-Y: #f9aa33;