{% extends "layouts/base.html.jinja" %}

{% block title %}Elo Football{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h2 class="uk-header">Competitions Included</h2>
    <ul class="uk-list uk-list-divider">
    {% for comp in comps.keys() %}
        <li><a class="uk-link" href="/{{ comp }}">{{ comp }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}