{% extends "layouts/base.html.jinja" %}

{% block title %}Elo Football{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h2>Competitions Included</h2>
    <ul>
    {% for comp in comps.keys() %}
        <li><a href="/{{ comp }}">{{ comp }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}